* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-peach: #EE9972;
  --secondary-beige: #FBDABB;
  --secondary-gray: #EDEFEE;
  --secondary-black: #333333;
  --card-width: 20rem;
  --font-size--title: 4rem;
  --font-size--subtitle: 2.5rem;
  font-family: 'Markazi Text', serif;
}

.container {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
}

.container--tight {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.section-header {
  font-size: 4rem;
  font-weight: 600;
}

.section-subheader {
  font-size: 2.5rem;
}

.text__karla {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.button--standard {
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary-yellow);
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
}

.button--standard:hover {
  text-decoration: underline;
}

.button--standard:disabled {
  background-color: #cabe7e;
  text-decoration: none;
}

.topbar {
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
}

.topbar > * {
  /* outline: 2px solid red; */
  height: 100%;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav > * {
  height: 100%;
  width: 50%;
  /* outline: 2px solid purple; */
}

header, nav {
  background-color: white;
}

.text-card-title {
  font-size: 1.25rem;
  font-weight: 800;
}

.text-price {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--secondary-peach);
}

/* NAV COMPONENT */

.nav__list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  font-size: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  font-weight: 800;
  color: var(--primary-green);
  white-space: nowrap;
}

.nav__link:link {
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

/* Nav toggle and hamburger */

.nav-toggle {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: 0.25em solid var(--primary-green);
  background: white;
  color: var(--primary-green);
  transition: opacity 250ms ease;
  position: absolute;
  left: 5%;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: black;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* Hero */

.hero {
  min-height: 6rem;
  background-color: var(--primary-green);
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4.25rem 0;
}

.hero__header {
  font-size: 6rem;
  color: var(--primary-yellow);
}

.hero__subheader {
  font-size: 3.75rem;
}

.hero .section-subheader, .hero .hero__text {
  color: white;
  margin-top: -0.7rem;
}

.hero__text {
  font-size: 1.25rem;
  width: 100%;
  max-width: 60%;
  align-self: left;
  justify-self: left;
}

.hero-image-container {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hero-image {
  position: absolute;
  top: 2rem;
  max-height: 35rem;
  width: 28rem;
  border-radius: 1rem;
}

.hero__button {
  font-size: 1.25rem;
  letter-spacing: 0.07rem;
  align-self: start;
  justify-self: left;
  text-decoration: none;
  color: black;
}

/* Specials */

.specials {
  padding: 8rem 0;
}

.specials__flex {
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
}

.specials__topbar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.specials__items {
  display: flex;
  justify-content: center;
  gap: 2rem 5rem;
  flex-wrap: wrap;
}

.specials__item__heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.specials__card {
  width: var(--card-width);
  background-color: var(--secondary-gray);
  padding-bottom: 2rem;
  border-radius: 1rem;
}

.specials__button {
  align-self: center;
  justify-self: end;
}

.specials__image {
  width: var(--card-width);
  height: 16rem;
  border-radius: 1rem;
}

.specials__paragraph {
  height: 9rem;
  /* overflow-y: scroll; */
}

.specials__delivery {
  display: flex;
  gap: 1rem;
}

.specials__delivery > p {
  font-weight: 800;
  align-self: center;
}

.icon-delivery {
  max-height: 100%;
  height: 1.5rem;
  align-self: start;
}

/* Testimonials */

.testimonials {
  background-color: var(--secondary-beige);
  padding: 5rem 0rem;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.testimonials__cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.testimonials__card {
  padding: 1.5rem 0;
  outline: 1px solid var(--secondary-peach);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.testimonials__card > * {
  width: 90%;
  margin: 0 auto;
}

.testimonials__rating {
  display: flex;
  justify-content: center;
}

.testimonials__rating > p {
  font-size: 1.25rem;
  font-weight: bolder;
  align-self: center;
}

.testimonials__star-icon {
  height: 2rem;
}

.testimonials__profile {
  display: flex;
  justify-content: space-around;
}

.testimonials__profile__image {
  height: 8rem;
  outline: 1px solid var(--secondary-peach);
  border-radius: 5rem;
}

.testimonials__profile__username {
  font-size: 1.25rem;
  font-weight: bolder;
  align-self: center;
  width: 4rem;
}

.testimonials__review {
  border-radius: 0.5rem;
  outline: 1px solid var(--secondary-peach);
  padding: 0.4rem 0.5rem;
  text-align: left;
  max-width: 19rem; /*Max width where they can all fit in one line on a 1080p monitor */
}

/* About */

.about {
  padding: 5rem 0;
}

.about__container {
  display: flex;
  justify-content: center;
  min-height: 15vh;
}

.about__container > * {
  width: 50%;
  /* outline: 2px solid hotpink; */
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about__content__paragraph {
  width: 90%;
  font-size: 1.1rem;
  font-weight: 500;
}

.about__images {
  position: relative;
}

.about__image {
  max-height: 18rem;
  max-width: 28rem;
  position: absolute;
  border-radius: 1rem;
}

.about__image--left {
  top: 6rem;
  z-index: 1;
}

.about__image--right {
  top: 0rem;
  left: 7rem;
  z-index: 0;
}

/* Footer */

.footer {
  color: white;
  background-color: #333333;
  min-height: 15vh;
  padding: 8rem 0rem;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem 0rem;
}

.footer__container > * {
  width: 25%;
  min-width: 15rem;
  /* outline: 1px solid pink; */
}

.footer__logo {
  max-width: clamp(8rem, 2vw, 16rem);
  align-self: left;
}

.footer__header {
  font-size: 1.5rem;
  font-weight: bolder;
}

.footer__column {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  gap: 1rem;
}

.footer__link {
  font-size: 1.25rem;
  color: white;
}

/* Booking */

form > h1 {
  text-align: center;
}

.booking {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.booking-form {
  padding: 4rem 0rem;
  background-color: var(--primary-green);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.form-label {
  font-size: 1.5rem;
}

.form-input {
  font-size: 2rem;
  min-height: 3rem;
  width: clamp(12rem, 30vw, 20rem);
  border-radius: 0.3rem;
  padding-left: 0.4rem;
}

.form-button {
  margin-top: 2.5rem;
}

/* CONFIRMATION PAGE */

.confirmation {
  background-image: url("/public/assets/food3.jpeg");
  width: 100%;
  padding: 4rem 0;
}

.confirmation__container {
  padding: 1.5rem 0;
  width: 70%;
  background-color: var(--primary-yellow);
  outline: 2px solid black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem 0;
  text-align: center;
}

.confirmation__container > * {
  width: 80%;
}

.confirmation__field {
  font-size: clamp(1.4rem, 2vw, 2.3rem);
  font-weight: 500;
}

.confirmation__data {
  font-weight: 700;
  font-style: normal;
  padding-left: 0.4rem;
}

/* Media Query */

@media all and (max-width: 1100px) {

  .hero-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35rem;
  }

  .hero-image {
    /* position: static; */
    max-width: 100%;
  }

  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__button {
    align-self: center;
  }

  .hero-content {
    justify-content: center;
    align-items: center;
  }

  .specials {
    padding: 5rem 0;
  }

  .about__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
  }

  .about__container > * {
    width: 100%;
  }

  .about__content {
    text-align: center;
  }

  .about__content__paragraph {
    margin: 0 auto;
    width: 75%;
  }

  .about__images {
    min-height: 20rem;
  }

  .about__image {
    max-width: 26rem;
    max-height: 16rem;
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .about__image--left {
    left: -8rem;
    top: 7rem;
  }

  .about__image--right {
    left: 8rem;
  }

  .nav {
    flex-direction: column;
    gap: 0.4rem;
  }

  .hero__text {
    text-align: center;
  }

  /* .hero-container > * {
    outline: 2px solid pink;
  } */

  .hero-content {
    padding: 3rem 0;
  }
}

@media all and (max-width: 700px) {

  .specials__topbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  
  .specials__items {
    justify-content: center;
    padding: 2rem 0rem;
  }

  .about__content {
    width: 80%;
    text-align: center;
    gap: 2.5rem;
  }

  .about__content__paragraph { 
    width: 100%;
  }

  .about__images {
    min-height: unset;
  }

  .about__image {
    max-height: 100%;
    width: 70%;
    min-width: 250px;
    position: static;
  }

  .about__image--left {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .about__image--right {
    position: relative;
    left: 0;
    top: -5rem;
    z-index: 1;
  }
}

@media all and (max-width: 600px) {

  .nav__list {
    flex-direction: column;
    gap: 0.6rem;
  }

  .nav__link {
    font-size: 1.5rem;
  }

  .title-bundle {
    text-align: center;
  }

  .topbar {
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.3rem 0rem;
  }

  /* .nav__list {
    flex-direction: column;
  } */

  .footer__column {
    justify-content: center;
    align-items: center;
  }

}

@media all and (min-width: 600px) {
  .nav-toggle {
      display: none;
    }

}